@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');



* {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    color: #353B48;
}

header#header {
    margin: 0 5%;
    padding: 0 3%;
    margin: 1.2rem;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    
}

nav {
    margin-left: 5%;
    
}

a#logo {
    margin-right: 5%;
    text-decoration: none;
    color: inherit;
}

strong {
    font-size: inherit;
    color: #E1B12C;
}

section.hero {
    margin: 0 5%;
    padding: 0 3%;
    display: flex;
    align-items: center;
}

.container {
    height: 78vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-header {
    margin: 1rem;
    align-content: center;
}

.hero-title {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.hero-subtitle {
    font-size: 1.4rem;
    margin: 1.4rem 0;
    padding: 1.2rem;
    transform: translateX(10%);
}

hr {
    justify-content: center;
    transform: translate(10%, 30%);
    color: #575988;
    width: 70%;
    margin: 1rem 2.2rem;
    border-bottom: 2px solid;
}

button.button-cta {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    background-color: #E1B12C;
    color: #ffffff;
    padding: 0.6rem 1.6rem;
    border: 2px solid #e1942c;
    margin: 1.6rem;
    border-radius: 0.6rem;
}

button.button-cta:hover,
button.button-cta:active {
    background-color: #e1942c;
    transition: 200ms ease-in;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}


@media screen and (min-width: 940px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 460px) {
    header#header
    section.hero {
        width: 80%;
    }
}

/* Menu list popup styling */

div.menu {
    background-color: #e5e5e5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    width: 100%;
    height: 100vh; 
    transform: scale(0);
    transition: 400ms ease-in-out;
}

div.menu-body ul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.menu-body ul li {
    display: flex;
    justify-content: center;
    list-style: none;
}

div.menu-body ul li a {
    text-decoration: none;
    color: #E1B12C;
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
}

div.menu-body ul li a:hover,
div.menu-body ul li a:active {
    transform: scale(1.2);
    transition: 200ms ease-in-out;
    font-weight: bold;
}

.menu .menu-header .btn-close {
    position: fixed;
    margin: 1rem;
    padding-left: 5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 4rem;
    font-weight: bold;
    color: #353B48;
    cursor: pointer;
}

.menu .menu-header .btn-close:hover,
.menu .menu-header .btn-close:active {
    color: #E1B12C;
    transition: 150ms ease-in;
}

nav
/* animacija prozora menija */

@-webkit-keyframes animation {
    0% {
        transform: scale(0) ;
        
    }
    50% {
        transform: scale(0.5) ;
    }
    
100% {
    transform: scale(1) translate(-50%, -50%);
}
@-o-keyframes animation {
   0% {
        transform: scale(0) ;
        
    }
    50% {
        transform: scale(0.5) ;
    }
    
100% {
    transform: scale(1) translate(-50%, -50%);
}
@-moz-keyframes animation {
    0% {
        transform: scale(0) ;
        
    }
    50% {
        transform: scale(0.5) ;
    }
    
100% {
    transform: scale(1) translate(-50%, -50%);
}
@keyframes animation {
   0% {
        transform: scale(0) ;
        
    }
    50% {
        transform: scale(0.5) ;
    }
    
100% {
    transform: scale(1) translate(-50%, -50%);
}
}

